<!doctype html>
<html>
  <head>
    <title>Laugh Tracks</title>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/ico_smile.png"/>
    <link rel="stylesheet" href="/css/style.css">
  </head>

    <header>
      <h1>Laugh Tracks</h1>
    </header>

    <body>
      <%= yield %>
    </body>

  </html>
