<form id="new-comedian-form" action="/comedians" method="post">
  <p>Enter a new comedian:</p>
  <input type='text' placeholder='Name' name='comedian[name]'/><br/>
  <input type='number' placeholder='Age' name='comedian[age]'/><br/>
  <input type='text' placeholder='Hometown' name='comedian[hometown]'/><br/>
  <input type='submit' value='Submit'/>
</form>
